<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/f/s/fs6jjmkdba.ico" type="image/x-icon" />
    <title>ClickyLink</title>
  </head>
  <body background="https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg">
    <div class="container mt-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: -15px; border-radius: .3rem .3rem 0 0;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">ClickyLink</a>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/remove_all">Remove all</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">Info</a>
              </li>
            </ul>
          </div>
        </nav>
        <div class="jumbotron">
            {% if remove_records %}
                <div class="alert alert-success" role="alert">
                    You have deleted all records successfully!
                </div>
            {% endif %}

            <div class="card mb-3" style="max-width: 100%;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img style="border-radius: 0;" src="https://i.ibb.co/2v7d3G7/Clicky-Link.png" class="card-img" alt="...">
                </div>
                <div class="col-md-8" style="background-color: #313f49">
                  <div class="card-body align-middle mt-5" style="color: white;">
                    <h3 class="card-title">Hi there!</h3>
                    <p class="card-text">
                        Have you ever wanted to get a custom short url protected by password?Have you ever wanted to get a custom short url protected by password?Have you ever wanted to get a custom short url protected by password?Have you ever wanted to get a custom short url protected by password?Have you ever wanted to get a custom short url protected by password?Have you ever wanted to get a custom short url protected by password?Have you ever wanted to get a custom short url protected by password?Have you ever wanted to get a custom short url protected by password?
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <form method="POST" action="{{ url_for('page.add_link') }}">

                <div class="form-group">
                    <label for="original_url">Original URL</label>
                    <input required name= "original_url" type="text" class="form-control" id="original_url" placeholder="Enter url">
                    <small id="emailHelp" class="form-text text-muted">Please type a full URL with http.</small>
                    <br>

                    <label for="requested_url">Requested URL</label>
                    <input name= "requested_url" type="text" class="form-control" id="requested_url" placeholder="Enter url">
                    <small id="emailHelp" class="form-text text-muted">Leave empty to generate random URL</small>
                </div>

                <div class="form-group">
                    <label for="password">Choose a password</label>
                    <input name= "password" type="password" class="form-control" id="password" placeholder="your password please">
                    <small class="form-text text-muted">Leave empty if you don't want to set a password</small>
                </div>

                <div class="form-group">
                    <label for="expdate">Choose an expiration date</label>
                    <input name= "expdate" type="datetime" class="form-control" id="expdate" placeholder="dd/mm/yyyy">
                    <small class="form-text text-muted">Default is eternity</small>
                </div>


                <div class="control mt-5" style="margin-bottom: -2em">
                    <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Shorten</button>
                </div>

            </form>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
