<!DOCTYPE html>
<html>

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/f/s/fs6jjmkdba.ico" type="image/x-icon" />
    <title>ClickyLink</title>

  </head>

<body background="https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg">
        <div class="container mt-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: -15px; border-radius: .3rem .3rem 0 0;">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">ClickyLink</a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/remove_all">Remove all</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/info">Info</a>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="jumbotron">
                <hr><h2 class="display-4 text-center">Info</h2><hr>
                <table class="table table-striped mt-5">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Original URL</th>
                            <th scope="col">Short URL</th>
                            <th scope="col">Date Of Creation</th>
                            <th scope="col">Expiration date</th>
                            <th scope="col">Visits</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for link in links %}
                        <tr>
                            {% if link.has_password %}
                                <td><b style="color: red;">-This link is secured-</b></td>
                            {% else %}
                                <td>{{ link.original_url }}</td>
                            {%  endif %}
                            <td><a target="_blank" href="{{ url_for('page.redirect_to_url', short_url=link.short_url, _external=True) }}">{{ url_for('page.redirect_to_url', short_url=link.short_url, _external=True) }}</a></td>
                            <td>{{ link.date_created }}</td>
                            <td>{{ link.expiration_date }}</td>
                            <td>{{ link.visits }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>